<ion-header>
  <ion-navbar>
    <ion-title>Outage {{ outage.id }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="getIconColor()" padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h5>ID</h5>
        <p>{{ outage.id }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="outage.nodeLabel">
      <ion-col>
        <h5>Node</h5>
        <p>{{ outage.nodeLabel }} ({{ outage.nodeId }})</p>
        <p *ngIf="outage.foreignSource">{{ outage.foreignId }} @ {{ outage.foreignSource }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="outage.ipAddress">
      <ion-col>
        <h5>IP Address</h5>
        <p>{{ outage.ipAddress }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="outage.serviceName">
      <ion-col>
        <h5>Service Name</h5>
        <p>{{ outage.serviceName }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Lost Event</h5>
        <p>{{ outage.serviceLostEvent.uei }}</p>
        <p>{{ outage.ifLostService | date:'medium' }}</p>
        <button ion-button block outline icon-left small (click)="onShowLostEvent()">
          <ion-icon name="see"></ion-icon>Show Lost Event
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="outage.ifRegainedService">
      <ion-col>
        <h5>Regained Event</h5>
        <p>{{ outage.serviceRegainedEvent.uei }}</p>
        <p>{{ outage.ifRegainedService | date:'medium' }}</p>
        <button ion-button block outline icon-left small (click)="onShowRegainedEvent()">
          <ion-icon name="see"></ion-icon>Show Regained Event
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
