<ion-header>
  <ion-navbar>
    <ion-title>Assets</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid padding>
    <ion-row>
      <ion-col col-5><b>Node</b></ion-col>
      <ion-col col-7>{{ node.label }} ({{ node.id }})</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5><b>Foreign Source</b></ion-col>
      <ion-col col-7>{{ node.foreignSource || 'N/A' }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5><b>Foreign ID</b></ion-col>
      <ion-col col-7>{{ node.foreignId || 'N/A' }}</ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <form #form="ngForm" novalidate>
    <ion-item-group *ngFor="let group of configGroups">
      <ion-item-divider color="primary">{{ group.title }}</ion-item-divider>
      <ion-item *ngFor="let field of group.fields">
        <ion-label stacked>{{ field.label }}</ion-label>
        <ion-input *ngIf="field.type == 'text' || field.type == 'password'"
          [type]="field.type == 'password' ? 'password' : 'text'"
          [name]="field.model"
          [(ngModel)]="node.assetRecord[field.model]"></ion-input>
        <ion-datetime *ngIf="field.type == 'date'"
          displayFormat="YYYY-MM-DD"
          pickerFormat="YYYY-MM-DD"
          [name]="field.model"
          [(ngModel)]="node.assetRecord[field.model]"></ion-datetime>
        <ion-select *ngIf="field.type == 'select'"
          [name]="field.model"
          [(ngModel)]="node.assetRecord[field.model]">
          <ion-option *ngFor="let option of field.options" [value]="option">{{ option }}</ion-option>
        </ion-select>
        <ion-textarea *ngIf="field.type == 'textarea'"
          elastic
          [name]="field.model"
          [(ngModel)]="node.assetRecord[field.model]"></ion-textarea>
      </ion-item>
    </ion-item-group>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button icon-left type="button" (click)="onSave(form)" [disabled]="form.invalid">
        <ion-icon name="cloud-upload"></ion-icon>
        Save Assets
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>