<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="onRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <onms-title title='Outages'></onms-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="onSearchOutages($event)" (ionCancel)="onCancelSearch($event)" [showCancelButton]="true" [debounce]="500" placeholder="Search..."></ion-searchbar>  
</ion-header>

<ion-content no-padding>
  <ion-list paading no-lines *ngIf="noOutages">
    <ion-item text-wrap>
      <ion-icon item-left name='information-circle'></ion-icon>
      <p>There are no outages, please try again later...</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <button ion-item text-wrap [color]="getIconColor(outage)" *ngFor="let outage of outages" (click)="onShowOutage(outage)">
      <h2>{{ outage.nodeLabel }}</h2>
      <div class="event-time">{{ formatUei(outage.serviceLostEvent.uei) }}</div>
      <div class="event-time">{{ outage.serviceName }} lost on {{ outage.ipAddress }} at {{ outage.ifLostService | date:'medium' }}</div>
      <div class="event-time" *ngIf="outage.ifRegainedService">regained at {{ outage.ifRegainedService | date:'medium' }}</div>
      <ion-icon name="alert" item-left [color]="getIconColor(outage, true)"></ion-icon>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more outages...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
