<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onShowOptions()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ node.label }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment padding [(ngModel)]="mode">
      <ion-segment-button value="info" (ionSelect)="onSelectInfo()">
        Info
      </ion-segment-button>
      <ion-segment-button value="availability">
        Availability
      </ion-segment-button>
      <ion-segment-button value="ip">
        IP
      </ion-segment-button>
      <ion-segment-button value="snmp">
        SNMP
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div [ngSwitch]="mode">
    <div *ngSwitchCase="'info'">
      <ion-list paading no-lines *ngIf="inScheduledOutage">
        <button ion-item detail-none text-wrap color='Major'>
          <ion-icon item-left name='warning' color='Major_'></ion-icon>
          <p>This node is affected by an ongoing scheduled outage.</p>
        </button>
      </ion-list>
      <ion-grid>
        <ion-list-header>Details</ion-list-header>
        <ion-row>
          <ion-col width-33><b>Status</b></ion-col>
          <ion-col width-67 [class]="node.isDown() ? 'Critical' : 'Normal'">{{ node.isDown() ? 'Down' : 'Up' }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>ID</b></ion-col>
          <ion-col width-67>{{ node.id }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>Label</b></ion-col>
          <ion-col width-67>{{ node.label }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>Foreign Source</b></ion-col>
          <ion-col width-67>{{ node.foreignSource || 'N/A' }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>Foreign ID</b></ion-col>
          <ion-col width-67>{{ node.foreignId || 'N/A' }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>sysName</b></ion-col>
          <ion-col width-67>{{ node.sysName }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>sysObjectID</b></ion-col>
          <ion-col width-67>{{ node.sysObjectId }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>sysLocation</b></ion-col>
          <ion-col width-67>{{ node.sysLocation }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>sysContact</b></ion-col>
          <ion-col width-67>{{ node.sysContact }}</ion-col>
        </ion-row>
        <ion-row *ngIf="node.sysDescription">
          <ion-col><b>sysDescription</b><br><br>{{ node.sysDescription }}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-list *ngIf="node.categories.length > 0">
        <ion-list-header>Categories</ion-list-header>
        <ion-item *ngFor="let c of node.categories">
          <div class="category">{{ c.name }}</div>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>Location</ion-list-header>
        <ion-item>
          <div id="map" *ngIf="node.hasLocation()"></div>
          <ion-grid no-padding>
            <ion-row>
              <ion-col width-50>
                <button ion-button small block outline icon-left type="button" (click)="onUseCurrentLocation()">
                  <ion-icon name="locate"></ion-icon> Locate Me
                </button>
              </ion-col>
              <ion-col width-50>
                <button ion-button small block outline icon-left type="button" (click)="onSelectOnMap()">
                  <ion-icon name="map"></ion-icon> Select on Map
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>Recent Events</ion-list-header>
        <ion-item *ngIf="events.length == 0"><p>No recent events.</p></ion-item>
        <button ion-item text-wrap [color]="event.severity" *ngFor="let event of events" (click)="onShowEvent(event)">
          <h2>{{ formatUei(event.uei) }}</h2>
          <div class="event-time">{{ event.time | date:'medium' }}</div>
          <br>
          <div class="event-message" [innerHTML]="event.logMessage"></div>
        </button>
      </ion-list>
      <ion-list>
        <ion-list-header>Current Outages</ion-list-header>
        <ion-item *ngIf="outages.length == 0"><p>No current outages.</p></ion-item>
        <button ion-item text-wrap [color]="getOutageColor(outage)" *ngFor="let outage of outages" (click)="onShowOutage(outage)">
          <h2>{{ formatUei(outage.serviceLostEvent.uei) }}</h2>
          <div class="event-time">{{ outage.serviceName }} lost on {{ outage.ipAddress }} at {{ outage.ifLostService | date:'medium' }}</div>
        </button>
      </ion-list>
    </div>
    <div *ngSwitchCase="'availability'">
      <node-availability [availability]="availability"></node-availability>
    </div>
    <div *ngSwitchCase="'ip'">
      <node-ip-interfaces [ipInterfaces]="node.ipInterfaces"></node-ip-interfaces>
    </div>
    <div *ngSwitchCase="'snmp'">
      <node-snmp-interfaces [snmpInterfaces]="node.snmpInterfaces"></node-snmp-interfaces>
    </div>
  </div>
</ion-content>
