<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onShowOptions()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ node.label }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment padding [(ngModel)]="mode">
      <ion-segment-button value="info" (ionSelect)="onSegmentSelect()">
        Info
      </ion-segment-button>
      <ion-segment-button value="availability">
        Availability
      </ion-segment-button>
      <ion-segment-button value="ip">
        IP
      </ion-segment-button>
      <ion-segment-button value="snmp">
        SNMP
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div [ngSwitch]="mode">
    <div *ngSwitchCase="'info'">
      <ion-list paading no-lines *ngIf="inScheduledOutage">
        <button ion-item detail-none text-wrap color='Major'>
          <ion-icon item-left name='warning' color='Major_'></ion-icon>
          <p>This node is affected by an ongoing scheduled outage.</p>
        </button>
      </ion-list>
      <ion-grid>
        <ion-list-header>Details</ion-list-header>
        <ion-row>
          <ion-col width-33><b>Status</b></ion-col>
          <ion-col width-67 [class]="node.isDown() ? 'Critical' : 'Normal'">{{ node.isDown() ? 'Down' : 'Up' }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>ID</b></ion-col>
          <ion-col width-67>{{ node.id }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>Label</b></ion-col>
          <ion-col width-67>{{ node.label }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>Foreign Source</b></ion-col>
          <ion-col width-67>{{ node.foreignSource || 'N/A' }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>Foreign ID</b></ion-col>
          <ion-col width-67>{{ node.foreignId || 'N/A' }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>sysName</b></ion-col>
          <ion-col width-67>{{ node.sysName }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>sysObjectID</b></ion-col>
          <ion-col width-67>{{ node.sysObjectId }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>sysLocation</b></ion-col>
          <ion-col width-67>{{ node.sysLocation }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>sysContact</b></ion-col>
          <ion-col width-67>{{ node.sysContact }}</ion-col>
        </ion-row>
        <ion-row *ngIf="node.sysDescription">
          <ion-col><b>sysDescription</b><br><br>{{ node.sysDescription }}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-list *ngIf="node.categories.length > 0">
        <ion-list-header>Categories</ion-list-header>
        <ion-item *ngFor="let c of node.categories">
          <div class="category">{{ c.name }}</div>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>Location</ion-list-header>
        <ion-item>
          <div id="map" *ngIf="node.hasLocation()"></div>
          <ion-grid no-padding>
            <ion-row>
              <ion-col width-50>
                <button ion-button small block outline icon-left type="button" (click)="onUseCurrentLocation()">
                  <ion-icon name="locate"></ion-icon> Locate Me
                </button>
              </ion-col>
              <ion-col width-50>
                <button ion-button small block outline icon-left type="button" (click)="onSelectOnMap()">
                  <ion-icon name="map"></ion-icon> Select on Map
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>Recent Events</ion-list-header>
        <ion-item *ngIf="events.length == 0"><p>No recent events.</p></ion-item>
        <button ion-item text-wrap [color]="event.severity" *ngFor="let event of events" (click)="onShowEvent(event)">
          <h2>{{ formatUei(event.uei) }}</h2>
          <div class="event-time">{{ event.time | date:'medium' }}</div>
          <br>
          <div class="event-message" [innerHTML]="event.logMessage"></div>
        </button>
      </ion-list>
      <ion-list>
        <ion-list-header>Current Outages</ion-list-header>
        <ion-item *ngIf="outages.length == 0"><p>No current outages.</p></ion-item>
        <button ion-item text-wrap [color]="getOutageColor(outage)" *ngFor="let outage of outages" (click)="onShowOutage(outage)">
          <h2>{{ formatUei(outage.serviceLostEvent.uei) }}</h2>
          <div class="event-time">{{ outage.serviceName }} lost on {{ outage.ipAddress }} at {{ outage.ifLostService | date:'medium' }}</div>
        </button>
      </ion-list>
    </div>
    <div *ngSwitchCase="'availability'">
      <div *ngIf="availability">
        <ion-searchbar [(ngModel)]="availSearchKeyword" [showCancelButton]="true" [debounce]="500" placeholder="Search..."></ion-searchbar>
        <ion-list>
          <ion-item>
            <ion-grid no-padding>
              <ion-row>
                <ion-col width-75><b>Overall Availability</b></ion-col>
                <ion-col width-35 text-right [class]="getAvailabilityColor(availability.availability)">{{ availability.availability | number:'1.5-5' }}%</ion-col>
              </ion-row>
              <ion-row>
                <ion-col width-75><b>Services Down</b></ion-col>
                <ion-col width-25 text-right>{{ availability.serviceDownCount }} of {{ availability.serviceCount }}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item *ngFor="let intf of (availability.ipInterfaces | ipAvailFilter:availSearchKeyword)">
            <ion-grid no-padding>
              <ion-row>
                <ion-col width-75>{{ intf.address }}</ion-col>
                <ion-col width-25 text-right [class]="getAvailabilityColor(intf.availability)">{{ intf.availability | number:'1.4-4' }}%</ion-col>
              </ion-row>
              <ion-row *ngFor="let service of intf.services">
                <ion-col width-75>&nbsp;&nbsp;&nbsp;&nbsp;{{ service.name }}</ion-col>
                <ion-col width-25 text-right [class]="getAvailabilityColor(service.availability)">{{ service.availability | number:'1.4-4' }}%</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div *ngSwitchCase="'ip'">
      <ion-searchbar [(ngModel)]="ipSearchKeyword" [showCancelButton]="true" [debounce]="500" placeholder="Search..."></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let intf of (node.ipInterfaces | ipIntfFilter:ipSearchKeyword)">
          <ion-grid no-padding>
            <ion-row>
              <ion-col width-33><b>IP</b></ion-col>
              <ion-col width-67>{{ intf.ipAddress }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33><b>Status</b></ion-col>
              <ion-col width-67 [class]="intf.isDown ? 'Critical' : 'Normal'">{{ intf.isDown ? 'Down' : 'Up' }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33><b>Is Managed ?</b></ion-col>
              <ion-col width-67 [class]="intf.isManaged != 'M' ? 'Critical' : 'Normal'">{{ intf.isManaged == 'M' ? 'Yes' : 'No' }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33><b>Is Primary ?</b></ion-col>
              <ion-col width-67>{{ intf.snmpPrimary == 'P' ? 'Yes' : 'No' }}</ion-col>
            </ion-row>
            <ion-row *ngIf="intf.snmpInterface">
              <ion-col width-33><b>Interface</b></ion-col>
              <ion-col width-67>{{ intf.snmpInterface.ifName || intf.snmpInterface.ifDescr }} ({{ intf.snmpInterface.ifIndex }})</ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33><b>Hostname</b></ion-col>
              <ion-col width-67>{{ intf.hostName }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33><b># Services</b></ion-col>
              <ion-col width-67>{{ intf.monitoredServiceCount }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'snmp'">
      <ion-searchbar [(ngModel)]="snmpSearchKeyword" [showCancelButton]="true" [debounce]="500" placeholder="Search..."></ion-searchbar>
      <ion-list>
        <ion-item text-wrap *ngFor="let intf of (node.snmpInterfaces | snmpIntfFilter:snmpSearchKeyword)">
          <ion-grid no-padding>
            <ion-row>
              <ion-col width-33><b>Name</b></ion-col>
              <ion-col width-67>{{ intf.ifName }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33><b>Oper Status</b></ion-col>
              <ion-col width-67 [class]="intf.ifOperStatus == 1 ? 'Normal' : 'Critical'">{{ intf.getOperStatus() }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33><b>Admin Status</b></ion-col>
              <ion-col width-67 [class]="intf.ifAdminStatus == 1 ? 'Normal' : 'Critical'">{{ intf.getAdminStatus() }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33><b>Interface Index</b></ion-col>
              <ion-col width-67>{{ intf.ifIndex }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33><b>Speed</b></ion-col>
              <ion-col width-67>{{ intf.ifSpeed || 'N/A' }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33><b>Type</b></ion-col>
              <ion-col width-67>{{ getInterfaceType(intf.ifType) }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33><b>Description</b></ion-col>
              <ion-col width-67>{{ intf.ifDescr || 'N/A' }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33><b>Alias</b></ion-col>
              <ion-col width-67>{{ intf.ifAlias || 'N/A' }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33><b>MAC</b></ion-col>
              <ion-col width-67>{{ (intf.physAddr | macAddress) || 'N/A' }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
