<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onShowOptions()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ node.label }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content np-padding>
  <ion-segment padding [(ngModel)]="mode">
    <ion-segment-button value="info" (ionSelect)="onSegmentSelect()">
      Info
    </ion-segment-button>
    <ion-segment-button value="availability">
      Availability
    </ion-segment-button>
    <ion-segment-button value="ip">
      IP
    </ion-segment-button>
    <ion-segment-button value="snmp">
      SNMP
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="mode">
    <div *ngSwitchCase="'info'">
      <ion-grid>
        <ion-list-header>Details</ion-list-header>
        <ion-row>
          <ion-col width-33><b>Status</b></ion-col>
          <ion-col width-67 [class]="node.isDown() ? 'Critical' : 'Normal'">{{ node.isDown() ? 'Down' : 'Up' }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>ID</b></ion-col>
          <ion-col width-67>{{ node.id }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>Label</b></ion-col>
          <ion-col width-67>{{ node.label }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>Foreign Source</b></ion-col>
          <ion-col width-67>{{ node.foreignSource || 'N/A' }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>Foreign ID</b></ion-col>
          <ion-col width-67>{{ node.foreignId || 'N/A' }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>sysName</b></ion-col>
          <ion-col width-67>{{ node.sysName }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>sysObjectID</b></ion-col>
          <ion-col width-67>{{ node.sysObjectId }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>sysLocation</b></ion-col>
          <ion-col width-67>{{ node.sysLocation }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33><b>sysContact</b></ion-col>
          <ion-col width-67>{{ node.sysContact }}</ion-col>
        </ion-row>
        <ion-row *ngIf="node.sysDescription">
          <ion-col><b>sysDescription</b><br><br>{{ node.sysDescription }}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-list *ngIf="node.categories.length > 0">
        <ion-list-header>Categories</ion-list-header>
        <ion-item *ngFor="let c of node.categories">
          <div class="category">{{ c.name }}</div>
        </ion-item>
      </ion-list>
      <ion-list >
        <ion-list-header>Location</ion-list-header>
        <ion-item>
          <div id="map" *ngIf="node.hasLocation()"></div>
          <ion-grid>
            <ion-row>
              <ion-col>
                <button ion-button small block outline icon-left type="button" (click)="onUseCurrentLocation()">
                  <ion-icon name="locate"></ion-icon> Use current location
                </button>
              </ion-col>
              <ion-col>
                <button ion-button small block outline icon-left type="button" (click)="onSelectOnMap()">
                  <ion-icon name="map"></ion-icon> Select on Map
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>Recent Events</ion-list-header>
        <ion-item *ngIf="events.length == 0">No recent events.</ion-item>
        <button ion-item text-wrap [color]="event.severity" *ngFor="let event of events" (click)="onShowEvent(event)">
          <h2>{{ formatUei(event.uei) }}</h2>
          <div class="event-time">{{ event.time | date:'medium' }}</div>
          <br>
          <div class="event-message" [innerHTML]="event.logMessage"></div>
        </button>
      </ion-list>
      <ion-list>
        <ion-list-header>Current Outages</ion-list-header>
        <ion-item *ngIf="outages.length == 0">No current outages.</ion-item>
        <button ion-item text-wrap [color]="getOutageColor(outage)" *ngFor="let outage of outages" (click)="onShowOutage(outage)">
          <h2>{{ formatUei(outage.serviceLostEvent.uei) }}</h2>
          <div class="event-time">{{ outage.serviceName }} lost on {{ outage.ipAddress }} at {{ outage.ifLostService | date:'medium' }}</div>
        </button>
      </ion-list>
    </div>
    <div *ngSwitchCase="'availability'">
      <div *ngIf="availability">
        <br>
        <ion-list>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col><b>Overall Availability</b></ion-col>
                <ion-col width-33 [class]="getAvailabilityColor(availability.availability)">{{ availability.availability | number:'1.5-5' }} %</ion-col>
              </ion-row>
              <ion-row>
                <ion-col><b>Services Down</b></ion-col>
                <ion-col width-33>{{ availability.serviceDownCount }} of {{ availability.serviceCount }}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item *ngFor="let intf of availability.ipInterfaces">
            <ion-grid>
              <ion-row>
                <ion-col><b>{{ intf.address }}</b></ion-col>
                <ion-col width-33 [class]="getAvailabilityColor(intf.availability)">{{ intf.availability | number:'1.5-5' }} %</ion-col>
              </ion-row>
              <ion-row *ngFor="let service of intf.services">
                <ion-col>&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ service.name }}</b></ion-col>
                <ion-col width-33 [class]="getAvailabilityColor(service.availability)">{{ service.availability | number:'1.5-5' }} %</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div *ngSwitchCase="'ip'">
      <br>
      <ion-list>
        <ion-item *ngFor="let intf of node.ipInterfaces">
          <h2>{{ intf.ipAddress }}</h2>
          <ion-grid>
            <ion-row>
              <ion-col><b>Status</b></ion-col>
              <ion-col width-67 [class]="intf.isDown ? 'Critical' : 'Normal'">{{ intf.isDown ? 'Down' : 'Up' }}</ion-col>
            </ion-row>
            <ion-row *ngIf="intf.snmpInterface">
              <ion-col><b>Interface</b></ion-col>
              <ion-col width-67>{{ intf.snmpInterface.ifName || intf.snmpInterface.ifDescr }} ({{ intf.snmpInterface.ifIndex }})</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><b>Hostname</b></ion-col>
              <ion-col width-67>{{ intf.hostName }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><b># Services</b></ion-col>
              <ion-col width-67>{{ intf.monitoredServiceCount }}</ion-col>
            </ion-row>
          </ion-grid>
          <ion-icon item-left [name]="intf.snmpPrimary == 'P' ? 'attach' : ''"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'snmp'">
      <br>
      <ion-list>
        <ion-item *ngFor="let intf of node.snmpInterfaces">
          <h2>{{ intf.ifName }}</h2>
          <ion-grid>
            <ion-row>
              <ion-col><b>Oper Status</b></ion-col>
              <ion-col width-67 [class]="intf.ifOperStatus == 1 ? 'Normal' : 'Critical'">{{ intf.getOperStatus() }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><b>Admin Status</b></ion-col>
              <ion-col width-67 [class]="intf.ifAdminStatus == 1 ? 'Normal' : 'Critical'">{{ intf.getAdminStatus() }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><b>Interface Index</b></ion-col>
              <ion-col width-67>{{ intf.ifIndex }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><b>Speed</b></ion-col>
              <ion-col width-67>{{ intf.ifSpeed || 'N/A' }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><b>Description</b></ion-col>
              <ion-col width-67>{{ intf.ifDescr || 'N/A' }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><b>Alias</b></ion-col>
              <ion-col width-67>{{ intf.ifAlias || 'N/A' }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><b>MAC</b></ion-col>
              <ion-col width-67>{{ intf.physAddr || 'N/A' }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
