<ion-header>
  <ion-navbar>
    <ion-title>Event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [class]="event.severity" padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h5><b>UEI</b></h5>
        <p>{{ event.uei }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5><b>Event Time</b></h5>
        <p>{{ event.time | date:'medium' }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5><b>Event Create Time</b></h5>
        <p>{{ event.createTime | date:'medium' }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5><b>Severity</b></h5>
        <p>{{ event.severity }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="event.nodeLabel">
      <ion-col>
        <h5><b>Node</b></h5>
        <p>{{ event.nodeLabel }} ({{ event.nodeId }})</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="event.ipAddress">
      <ion-col>
        <h5><b>IP Address</b></h5>
        <p>{{ event.ipAddress }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="event.serviceName">
      <ion-col>
        <h5><b>Service Name</b></h5>
        <p>{{ event.serviceName }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5><b>Log Message</b></h5>
        <p [innerHTML]="event.logMessage"></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5><b>Description</b></h5>
        <p [innerHTML]="event.description"></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="event.parameters.length > 0">
    <ion-list-header>Parameters</ion-list-header>
    <button ion-item detail-none text-wrap [color]="event.severity" *ngFor="let parameter of event.parameters">
      <b>{{ parameter.name }}</b>
      <p>{{ parameter.value }}</p>
    </button>
  </ion-list>
</ion-content>
