<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="onShowOptions()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <onms-title title='Requisitions'></onms-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchKeyword" [showCancelButton]="true" [debounce]="500" placeholder="Search..."></ion-searchbar>  
</ion-header>

<ion-content padding>
  <ion-list paading no-lines *ngIf="noRequisitions">
    <ion-item text-wrap>
      <ion-icon item-left name='information-circle'></ion-icon>
      <p>There are no requisitions, please try again later..</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let requisition of (requisitions | reqFilter:searchKeyword)">
      <button ion-item (click)="onShowRequisition(requisition)">
        <h2>{{ requisition.foreignSource }}</h2>
        <p>Last Updated: {{ requisition.dateStamp | date:'medium' }}</p>
        <p>Last Imported: {{ requisition.lastImport ? (requisition.lastImport | date:'medium') : 'Never' }}</p>
        <p>{{ requisition.nodes.length}} nodes defined, {{ requisition.deployedNodes }} nodes deployed</p>
      </button>
      <ion-item-options>
        <button ion-button expandable color="secondary"   (click)="onEditForeignSource(requisition.foreignSource)">
          <ion-icon name="create"></ion-icon>
          Edit FS
        </button>
        <button ion-button expandable color="primary"  (click)="onImportRequisition(requisition)">
          <ion-icon name="sync"></ion-icon>
          Import
        </button>
        <button ion-button expandable color="danger" (click)="onDeleteRequisition(requisition)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
