<ion-header>
  <ion-navbar>
    <ion-title>{{ isNew ? 'New Node' : node.nodeLabel }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-left color="danger" (click)="onSave()" *ngIf="form.valid && form.dirty">
        <ion-icon name="cloud-upload"></ion-icon>
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="mode">
    <ion-segment-button value="basic">
      Basic
    </ion-segment-button>
    <ion-segment-button value="interfaces">
      Interfaces
    </ion-segment-button>
    <ion-segment-button value="assets">
      Assets
    </ion-segment-button>
    <ion-segment-button value="categories">
      Categories
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="mode">
    <div *ngSwitchCase="'basic'">
      <br>
      <form [formGroup]="form">
        <ion-list inset>
          <ion-list-header>Basic</ion-list-header>
          <ion-item>
            <ion-label stacked>Foreign ID</ion-label>
            <ion-input type="text" formControlName="foreignId" (press)="onGenerateForeignId()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Node Label</ion-label>
            <ion-input type="text" formControlName="nodeLabel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked (press)="onShowLocations()">Location</ion-label>
            <ion-input type="text" formControlName="location"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Building</ion-label>
            <ion-input type="text" formControlName="building"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>City</ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
          </ion-item>
        </ion-list>
        <ion-list inset>
          <ion-list-header>Path Outages</ion-list-header>
          <ion-item>
            <ion-label stacked>Parent Foreign Source</ion-label>
            <ion-input type="text" formControlName="parentForeignSource"></ion-input>
          </ion-item>
          <ion-item *ngIf="form.controls['parentNodeLabel'].value != ''">
            <ion-label stacked>Parent Foreign ID</ion-label>
            <ion-input type="text" formControlName="parentForeignId"></ion-input>
          </ion-item>
          <ion-item *ngIf="form.controls['parentForeignId'].value != ''">
            <ion-label stacked>Parent Node Label</ion-label>
            <ion-input type="text" formControlName="parentNodeLabel"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </div>
    <div *ngSwitchCase="'interfaces'">
      <br>
      <button ion-button clear small block outline icon-left (click)="onAddInterface()">
        <ion-icon name="add"></ion-icon>
        Add Interface
      </button>
      <br>      
      <ion-list>
        <ion-item-sliding *ngFor="let intf of node.interfaces; let i = index">
          <button ion-item  (click)="onEditInterface(intf,i)">
            <h2>{{ intf.ipAddress }} ({{ intf.snmpPrimary }})</h2>
            <p *ngIf="intf.description">{{ intf.description }}</p>
            <p>{{ intf.services.length }} services</p>
          </button>
          <ion-item-options>
            <button ion-button expandable color="danger" (click)="onRemoveInterface(i)">
              <ion-icon name="trash"></ion-icon>
              Remove
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    <div *ngSwitchCase="'assets'">
      <br>
      <button ion-button clear small block outline icon-left (click)="onAddAsset()">
        <ion-icon name="add"></ion-icon>
        Add Asset
      </button>
      <br>
      <ion-list>
        <ion-item-sliding *ngFor="let asset of node.assets; let i = index">
          <button ion-item (click)="onEditAsset(asset,i)">
            <h2>{{ asset.name }}</h2>
            <p>{{ asset.value }}</p>
          </button>
          <ion-item-options>
            <button ion-button expandable color="danger" (click)="onRemoveAsset(i)">
              <ion-icon name="trash"></ion-icon>
              Remove
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    <div *ngSwitchCase="'categories'">
      <br>
      <button ion-button clear small block outline icon-left (click)="onAddCategory()">
        <ion-icon name="add"></ion-icon>
        Add Category
      </button>
      <br>
      <ion-list>
        <ion-item-sliding *ngFor="let category of node.categories; let i = index">
          <button ion-item (click)="onEditCategory(category,i)">
            <h2>{{ category.name }}</h2>
          </button>
          <ion-item-options>
            <button ion-button expandable color="danger" (click)="onRemoveCategory(i)">
              <ion-icon name="trash"></ion-icon>
              Remove
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>

