<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="onRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="mode">
    <ion-segment-button value="Availability">
      Availability
    </ion-segment-button>
    <ion-segment-button value="Alarms">
      Alarms
    </ion-segment-button>
    <ion-segment-button value="Outages">
      Outages
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="mode">
    <div *ngSwitchCase="'Availability'">
      <ion-grid *ngFor="let section of sections">
        <ion-row>
          <ion-col width-50><b>{{ section.name }}</b></ion-col>
          <ion-col><b>Outages</b></ion-col>
          <ion-col><b>Availability</b></ion-col>
        </ion-row>
        <ion-row *ngFor="let category of section.categories">
          <ion-col width-50>{{ category.name }}</ion-col>
          <ion-col [class]="category.outageClass">{{ category.outageText }}</ion-col>
          <ion-col [class]="category.availabilityClass">{{ category.availabilityText }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'Alarms'">
      <ion-grid>
        <ion-row>
          <ion-col><b>Severity</b></ion-col>
          <ion-col><b>Total</b></ion-col>
          <ion-col><b>Acknowledged</b></ion-col>
          <ion-col><b>Unacknowledged</b></ion-col>
        </ion-row>
        <ion-row *ngFor="let alarm of alarms">
          <ion-col [class]="alarm.severity">{{ alarm.severity }}</ion-col>
          <ion-col>{{ alarm.totalCount }}</ion-col>
          <ion-col>{{ alarm.acknowledgedCount }}</ion-col>
          <ion-col>{{ alarm.unacknowledgedCount }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'Outages'">
      <ion-grid>
        <ion-row>
          <ion-col><b>Node</b></ion-col>
          <ion-col width-33><b>Time Down</b></ion-col>
        </ion-row>
        <ion-row *ngFor="let outage of outages">
          <ion-col>{{ outage.nodeLabel }}</ion-col>
          <ion-col width-33>{{ outage.getTimeInfo() }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
