<ion-header>
  <ion-navbar>
    <ion-title>Notification</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [class]="notification.severity" padding>
  <ion-grid>
    <ion-card *ngIf="notification.isAcknowledged()">
      <ion-card-header>Acknowledged</ion-card-header>
      <ion-card-content>by {{ notification.ackUser }} at {{ notification.ackTime | date:'medium' }}</ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col>
        <h5>ID</h5>
        <p>{{ notification.id }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Name</h5>
        <p>{{ notification.name }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Severity</h5>
        <p>{{ notification.severity }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>UEI</h5>
        <p>{{ notification.uei }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Notification Time</h5>
        <p>{{ notification.pageTime | date:'medium' }}</p>
        <button ion-button block outline icon-left small (click)="onShowEvent()">
          <ion-icon name="see"></ion-icon>Show Event
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="notification.nodeLabel">
      <ion-col>
        <h5>Node</h5>
        <p>{{ notification.nodeLabel }} ({{ notification.nodeId }})</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Subject</h5>
        <p [innerHTML]="notification.subject"></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Description</h5>
        <p [innerHTML]="notification.textMessage"></p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="notification.destinations.length > 0">
      <ion-col>
        <h5>Destinations</h5>
        <ul>
          <li *ngFor="let destination of notification.destinations">
          User {{ destination.userId }} notified using {{ destination.media }} at {{ destination.notifyTime | date:'medium' }}
          </li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block outline icon-left small type="button" (click)="onAckNotification(!notification.isAcknowledged())">
          <ion-icon [name]="notification.isAcknowledged() ? 'sad' : 'happy'"></ion-icon>{{ notification.isAcknowledged() ? 'Unack' : 'Ack' }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab top right>
    <button ion-fab (click)="onAckNotification(!notification.isAcknowledged())">
      <ion-icon [name]="notification.isAcknowledged() ? 'sad' : 'happy'"></ion-icon>
    </button>
  </ion-fab>
</ion-content>