// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-title {
  // Required by OnmsTitleComponent
  .subtitle {
    margin: 0;
    font-size: 60%;
    font-weight: normal;
  }
}

ion-item {
  .ng-invalid:not(form):not(input) {
    border-right: 2px solid $text-input-highlight-color-invalid;
  }
}

.geomap {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    display: block;
}

.geomap .svg {
    stroke-width: 0px;
}

.geomap .marker-cluster div {
    position: absolute;
    top: 0;
    color: white;
}

@each $severity in (Cleared, Normal, Minor, Warning, Major, Critical) {
    .geomap .marker-cluster-#{$severity} {
        background-color: map_get($colors,#{$severity}_);
    }
    .geomap .svg .#{$severity} {
        fill: map_get($colors,#{$severity}_);
        stroke: map_get($colors,#{$severity}_);
    }
}

