<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines *ngIf="onmsServer">
      <ion-list-header>
        Server
      </ion-list-header>
      <ion-item>
         <p> {{ onmsServer?.name }}, version {{ onmsServer?.version }}</p>
      </ion-item>
    </ion-list>
    <ion-list no-lines *ngFor="let g of groups">
      <ion-list-header>
        {{ g.name }}
      </ion-list-header>
      <button menuClose ion-item *ngFor="let p of g.pages" (click)="openPage(p)">
        {{ p.title }}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>