<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="onShowOptions($event)">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
    <onms-title title='Alarms'></onms-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="onSearchAlarms($event)" (ionClear)="onClearSearch($event)" [debounce]="500" placeholder="Search Alarms..."></ion-searchbar>
</ion-header>

<ion-content no-padding>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to retrieve the latest alarms"
      refreshingSpinner="circles"
      refreshingText="Reloading alarms...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list paading no-lines *ngIf="noAlarms">
    <ion-item text-wrap>
      <ion-icon item-left name='information-circle'></ion-icon>
      <p>There are no alarms, please try again later...</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let alarm of alarms">
      <button ion-item text-wrap [color]="alarm.severity" (click)="onShowAlarm(alarm)">
        <h2>{{ formatUei(alarm.uei) }}</h2>
        <div class="event-time" *ngIf="alarm.nodeLabel">for {{ alarm.nodeLabel }}</div>
        <div class="event-time">at {{ alarm.lastEventTime | date:'medium' }}; ID:{{ alarm.id}}</div>
        <div class="event-time" *ngIf="alarm.isAcknowledged()">acknowledged by {{ alarm.ackUser }} at {{ alarm.ackTime | date:'medium' }}</div>
        <br>
        <div class="event-message" [innerHTML]="alarm.logMessage"></div>
        <ion-icon item-left [name]="getIcon(alarm)" [color]="getIconColor(alarm)"></ion-icon>
        <ion-badge item-right>{{ alarm.count }}</ion-badge>
      </button>
      <ion-item-options side="left" (ionSwipe)="onAckAlarm(alarm)">
        <button ion-button expandable (click)="onAckAlarm(alarm)" [color]="alarm.isAcknowledged() ? '_Warning' : '_Normal'">
          <ion-icon [name]="alarm.isAcknowledged() ? 'sad' : 'happy'"></ion-icon>{{ alarm.isAcknowledged() ? 'Unack' : 'Ack' }}
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button expandable color="Critical_" (click)="onEscalateAlarm(alarm)">
          <ion-icon name="flash"></ion-icon>Escalate
        </button>
        <button ion-button expandable color="Cleared_"  (click)="onClearAlarm(alarm)">
          <ion-icon name="trash"></ion-icon>Clear
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more alarms...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
