<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="onShowOptions($event)">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Alarms</ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="onSearchAlarms($event)" (ionCancel)="onCancelSearch($event)" [showCancelButton]="true" [debounce]="500" placeholder="Search..."></ion-searchbar>  
</ion-header>

<ion-content no-padding>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to retrieve the latest alarms"
      refreshingSpinner="circles"
      refreshingText="Reloading alarms...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="noAlarms">
    <ion-row padding>
      <ion-col>
        <p>There are no alarms, please try again later...</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list [virtualScroll]="alarms">
    <ion-item-sliding *virtualItem="let alarm">
      <button ion-item text-wrap [color]="alarm.severity" (click)="onShowAlarm(alarm)">
        <h2>{{ formatUei(alarm.uei) }}</h2>
        <div class="event-time" *ngIf="alarm.nodeLabel">for {{ alarm.nodeLabel }}</div>
        <div class="event-time">at {{ alarm.lastEventTime | date:'medium' }}; ID:{{ alarm.id}}</div>
        <div class="event-time" *ngIf="alarm.isAcknowledged()">acknowledged by {{ alarm.ackUser }} at {{ alarm.ackTime | date:'medium' }}</div>
        <br>
        <div class="event-message">{{ alarm.logMessage }}</div>
        <ion-icon item-left [name]="getIcon(alarm)" [color]="getIconColor(alarm)"></ion-icon>
        <ion-badge item-right>{{ alarm.count }}</ion-badge>
      </button>
      <ion-item-options>
        <button ion-button expandable (click)="onAckAlarm(alarm)" [color]="alarm.isAcknowledged() ? '_Warning' : '_Normal'">
          <ion-icon [name]="alarm.isAcknowledged() ? 'sad' : 'happy'"></ion-icon>{{ alarm.isAcknowledged() ? 'Unack' : 'Ack' }}
        </button>
        <button ion-button expandable color="Cleared_"  (click)="onClearAlarm(alarm)">
          <ion-icon name="trash"></ion-icon>Clear</button>
        <button ion-button expandable color="Critical_" (click)="onEscalateAlarm(alarm)">
          <ion-icon name="flash"></ion-icon>Esc</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more alarms...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
