<ion-header>
  <ion-navbar>
    <ion-title>Resources</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-item-group *ngFor="let group of resourceGroups">
    <ion-item-divider color="primary"><div class="resource-type">{{ group.resourceType }}</div></ion-item-divider>
    <button ion-item *ngFor="let resource of group.resources" (click)="onShowGraphs(resource)">
      <div class="resource-label">{{ resource.label }}</div>
      <div class="resource-id">{{ resource.id }}</div>
    </button>
  </ion-item-group>
</ion-content>
