page-resources {
    ion-item-divider {
        .resource-type {
            font-size: 14px;
        }
    }
    .resource-label {
        font-size: 14px;
        opacity: 0.90;
    }
    .resource-id {
        font-size: 10px;
        opacity: 0.70;
    }
}
