<ion-header>
  <ion-navbar>
    <ion-title>Alarm</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [class]="alarm.severity" padding>
  <ion-grid>
    <ion-card *ngIf="alarm.isAcknowledged()">
      <ion-card-header>Acknowledged</ion-card-header>
      <ion-card-content>by {{ alarm.ackUser }} at {{ alarm.ackTime | date:'medium' }}</ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col>
        <h5><b>UEI</b></h5>
        <p>{{ alarm.uei }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5><b>Last Event Time</b></h5>
        <p>{{ alarm.lastEventTime | date:'medium' }}</p>
        <button ion-button block outline icon-left small (click)="onShowEvent()">
          <ion-icon name="see"></ion-icon>Show Last Event
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5><b>Severity</b></h5>
        <p>{{ alarm.severity }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="alarm.nodeLabel">
      <ion-col>
        <h5><b>Node</b></h5>
        <p>{{ alarm.nodeLabel }} ({{ alarm.nodeId }})</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="alarm.ipAddress">
      <ion-col>
        <h5><b>IP Address</b></h5>
        <p>{{ alarm.ipAddress }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="alarm.serviceName">
      <ion-col>
        <h5><b>Service Name</b></h5>
        <p>{{ alarm.serviceName }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5><b>Log Message</b></h5>
        <p [innerHTML]="alarm.logMessage"></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5><b>Description</b></h5>
        <p [innerHTML]="alarm.description"></p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="alarm.stickyMemo">
      <ion-col>
        <h5><b>Sticky Memo</b></h5>
        <p>{{ alarm.stickyMemo.body }}</p>
        <p>By author {{ alarm.stickyMemo.author }} at {{ alarm.stickyMemo.updated | date:'medium' }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="alarm.journalMemo">
      <ion-col>
        <h5><b>Journal Memo</b></h5>
        <p>{{ alarm.journalMemo.body }}</p>
        <p>By author {{ alarm.journalMemo.author }} at {{ alarm.journalMemo.updated | date:'medium' }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="alarm.parameters.length > 0">
    <ion-list-header>Parameters</ion-list-header>
    <button ion-item detail-none text-wrap [color]="alarm.severity" *ngFor="let parameter of alarm.parameters">
      <b>{{ parameter.name }}</b>
      <p>{{ parameter.value }}</p>
    </button>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block outline icon-left small type="button" (click)="onAckAlarm(!alarm.isAcknowledged())">
          <ion-icon [name]="alarm.isAcknowledged() ? 'sad' : 'happy'"></ion-icon>{{ alarm.isAcknowledged() ? 'Unack' : 'Ack' }}
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block outline icon-left small type="button" (click)="onClearAlarm()">
          <ion-icon name="trash"></ion-icon>Clear
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block outline icon-left small type="button" (click)="onEscalateAlarm()">
          <ion-icon name="flame"></ion-icon>Escalate
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab top right>
    <button ion-fab mini><ion-icon name="settings"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="onAckAlarm(!alarm.isAcknowledged())">
        <ion-icon [name]="alarm.isAcknowledged() ? 'sad' : 'happy'"></ion-icon>
      </button>
      <button ion-fab><ion-icon name="trash" (click)="onClearAlarm()"></ion-icon></button>
      <button ion-fab><ion-icon name="flame" (click)="onEscalateAlarm()"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>