page-regional-status {
    #map {
        height: 100%;
        width: 100%;
    }
    .myCluster {
        border-radius: 50%;
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
        line-height: 30px;
        color: white;
    }
}
