<ion-searchbar (ionInput)="onSearchIpInterfaces($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let intf of (ipInterfaces | ipIntfFilter:ipSearchKeyword)">
    <ion-grid no-padding>
      <ion-row>
        <ion-col width-33><b>IP</b></ion-col>
        <ion-col width-67>{{ intf.ipAddress }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-33><b>Status</b></ion-col>
        <ion-col width-67 [class]="intf.isDown ? 'Critical' : 'Normal'">{{ intf.isDown ? 'Down' : 'Up' }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-33><b>Is Managed ?</b></ion-col>
        <ion-col width-67 [class]="!intf.managed() ? 'Critical' : 'Normal'">{{ intf.managed() ? 'Yes' : 'No' }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-33><b>Is Primary ?</b></ion-col>
        <ion-col width-67>{{ intf.isPrimary() ? 'Yes' : 'No' }}</ion-col>
      </ion-row>
      <ion-row *ngIf="intf.snmpInterface">
        <ion-col width-33><b>Interface</b></ion-col>
        <ion-col width-67>{{ intf.snmpInterface.ifName || intf.snmpInterface.ifDescr }} ({{ intf.snmpInterface.ifIndex }})</ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-33><b>Hostname</b></ion-col>
        <ion-col width-67>{{ intf.hostName }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-33><b># Services</b></ion-col>
        <ion-col width-67>{{ intf.monitoredServiceCount }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>