<ion-searchbar (ionInput)="onSearchAvailInterfaces($event)"></ion-searchbar>
<ion-list>
  <ion-item>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-8><b>Overall Availability</b></ion-col>
        <ion-col col-4 text-right [ngClass]="getAvailabilityColor(availability.availability)">{{ availability.availability | number:'1.5-5' }}%</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8><b>Services Down</b></ion-col>
        <ion-col col-4 text-right>{{ availability.serviceDownCount }} of {{ availability.serviceCount }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item *ngFor="let intf of (availability.ipInterfaces | ipAvailFilter:availSearchKeyword)">
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-8>{{ intf.address }}</ion-col>
        <ion-col col-4 text-right [ngClass]="getAvailabilityColor(intf.availability)">{{ intf.availability | number:'1.4-4' }}%</ion-col>
      </ion-row>
      <ion-row *ngFor="let service of intf.services">
        <ion-col col-8>&nbsp;&nbsp;&nbsp;&nbsp;{{ service.name }}</ion-col>
        <ion-col col-4 text-right [ngClass]="getAvailabilityColor(service.availability)">{{ service.availability | number:'1.4-4' }}%</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>