<ion-searchbar (ionInput)="onSearchSnmpInterfaces($event)"></ion-searchbar>
<ion-list>
  <ion-item text-wrap *ngFor="let intf of (snmpInterfaces | snmpIntfFilter:snmpSearchKeyword)">
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-4><b>Name</b></ion-col>
        <ion-col>{{ intf.ifName }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><b>Oper Status</b></ion-col>
        <ion-col [ngClass]="intf.ifOperStatus == 1 ? 'Normal' : 'Critical'">{{ intf.getOperStatus() }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><b>Admin Status</b></ion-col>
        <ion-col [ngClass]="intf.ifAdminStatus == 1 ? 'Normal' : 'Critical'">{{ intf.getAdminStatus() }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><b>Interface Index</b></ion-col>
        <ion-col>{{ intf.ifIndex }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><b>Speed</b></ion-col>
        <ion-col>{{ intf.ifSpeed || 'N/A' }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><b>Type</b></ion-col>
        <ion-col>{{ getInterfaceType(intf.ifType) }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><b>Description</b></ion-col>
        <ion-col>{{ intf.ifDescr || 'N/A' }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><b>Alias</b></ion-col>
        <ion-col>{{ intf.ifAlias || 'N/A' }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><b>MAC</b></ion-col>
        <ion-col>{{ (intf.physAddr | macAddress) || 'N/A' }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>