<div id="alarmsChart"></div>
<br>
<ion-grid *ngIf="alarms">
  <ion-row>
    <ion-col col-5><b>Severity</b></ion-col>
    <ion-col text-right><b>Total</b></ion-col>
    <ion-col text-right><b># Ack</b></ion-col>
    <ion-col text-right><b># Unack</b></ion-col>
  </ion-row>
  <ion-row *ngFor="let alarm of alarms">
    <ion-col col-5 [ngClass]="alarm.severity">{{ alarm.severity }}</ion-col>
    <ion-col text-right>{{ alarm.totalCount }}</ion-col>
    <ion-col text-right>{{ alarm.acknowledgedCount }}</ion-col>
    <ion-col text-right>{{ alarm.unacknowledgedCount }}</ion-col>
  </ion-row>
</ion-grid>