<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <onms-title title='Nodes'></onms-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="onSearchNodes($event)" (ionCancel)="onCancelSearch($event)" [showCancelButton]="true" [debounce]="500" placeholder="Search..."></ion-searchbar>
</ion-header>

<ion-content no-padding>
  <ion-list paading no-lines *ngIf="nodes.length == 0">
    <ion-item text-wrap>
      <ion-icon item-left name='information-circle'></ion-icon>
      <p>Use the search bar and start typing part of the node's label to find your nodes...</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <button ion-item *ngFor="let node of nodes" (click)="onShowNode(node)">
      <h2>{{ node.label }}</h2>
      <div class="event-message" *ngIf="node.foreignSource">Requisition: {{ node.foreignSource }}, Foreign-ID: {{ node.foreignId }}</div>
      <div class="event-message" *ngIf="!node.foreignSource">Auto-discovered with nodeId: {{ node.id }}</div>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more nodes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
