<ion-header>
  <ion-navbar>
    <ion-title>
      {{ metric }}
      <p class="subtitle">{{ resource?.id }}</p>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list paading no-lines *ngIf="!hasData()">
    <ion-item text-wrap>
      <ion-icon item-left name='information-circle'></ion-icon>
      <p>There are no data for the query...</p>
    </ion-item>
  </ion-list>  
  <ion-grid *ngIf="hasData()">
    <ion-row>
      <ion-col><b>Timestamp</b></ion-col>
      <ion-col text-right><b>Value</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let ts of query.timestamps; let i = index">
      <ion-col>{{ ts | date:'medium' }}</ion-col>
      <ion-col text-right>{{ getValue(i) == 'NaN' ? 'NaN' : ( getValue(i) | number:'1.2-2' ) }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
