<ion-header>
  <ion-navbar>
    <ion-title>Foreign Source Definition</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="danger" (click)="onSave()" *ngIf="form.invalid || form.dirty">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="mode">
      <ion-segment-button value="overview">
        Overview
      </ion-segment-button>
      <ion-segment-button value="detectors">
        Detectors
      </ion-segment-button>
      <ion-segment-button value="policies">
        Policies
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="mode">
    <div *ngSwitchCase="'overview'">
      <h2>{{ definition.name }}</h2>
      <p>Last Update: {{ definition.dateStamp | date:'medium' }}</p>
      <form [formGroup]="form">
        <ion-list inset>
          <ion-item>
            <ion-label stacked>Scan Interval</ion-label>
            <ion-input type="text" formControlName="scanInterval"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </div>
    <div *ngSwitchCase="'detectors'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button clear small block outline icon-left type="button" (click)="onAddDetector()">
              <ion-icon name="add"></ion-icon>
              Add a new Detector
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small block outline icon-left type="button" (click)="onEnableReorderDetectors(true)" *ngIf="!reorderDetectors">
              <ion-icon name="reorder"></ion-icon>
              Enable Re-order Mode
            </button>
            <button ion-button clear small block outline icon-left type="button" color="danger" (click)="onEnableReorderDetectors(false)" *ngIf="reorderDetectors">
              <ion-icon name="done-all"></ion-icon>
              Finish Re-order Mode
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <ion-list [reorder]="reorderDetectors" (ionItemReorder)="onReorderDetectors($event)">
        <ion-item-sliding *ngFor="let detector of definition.detectors; let i = index">
          <button ion-item (click)="onEditDetector(detector,i)">
            <h2>{{ detector.name }}</h2>
            <p>{{ detector.className | className }}</p>
          </button>
          <ion-item-options>
            <button ion-button expandable color="danger" (click)="onRemoveDetector(i)">
              <ion-icon name="trash"></ion-icon>
              Remove
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    <div *ngSwitchCase="'policies'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button clear small block outline icon-left type="button" (click)="onAddPolicy()">
              <ion-icon name="add"></ion-icon>
              Add a new Policy
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small block outline icon-left type="button" (click)="onEnableReorderPolicies(true)" *ngIf="!reorderPolicies">
              <ion-icon name="reorder"></ion-icon>
              Enable Re-order Mode
            </button>
            <button ion-button clear small block outline icon-left type="button" color="danger" (click)="onEnableReorderPolicies(false)" *ngIf="reorderPolicies">
              <ion-icon name="done-all"></ion-icon>
              Finish Re-order Mode
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <ion-list [reorder]="reorderPolicies" (ionItemReorder)="onReorderPolicies($event)">
        <ion-item-sliding *ngFor="let policy of definition.policies; let i = index">
          <button ion-item (click)="onEditPolicy(policy,i)">
            <h2>{{ policy.name }}</h2>
            <p>{{ policy.className | className }}</p>
          </button>
          <ion-item-options>
            <button ion-button expandable color="danger" (click)="onRemovePolicy(i)">
              <ion-icon name="trash"></ion-icon>
              Remove
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>

